@* Copyright (c) 2020 Simulacrum Technology. All rights reserved. *@
<DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello, @(who)!</title>
  </head>
  <body>
    <h1>Hello, @(who)!</title>
  </body>
</html>
