@{title = "Orientation Representation"}
@{tableOfContents = "./_toc.ihtml"}
@(>"./_header.html.t")
  <p>This chapter deals with representation of orientation of geometric entities.</p>
@(>"./_footer.html.t")
